rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function adminList() {
      return ['firebase-bot', '8Hm2WF97HxVye8YQG7mbsyjMz3o2'];
    }
  
  	function isAuthorized(userId) {
      return request.auth != null && (userId == request.auth.uid || userId in adminList() == true);
    }
  
    match /messages/{messageId} {
      allow read: if true;
      allow create, update, delete: if isAuthorized(request.resource.data.uid);
    }
    
    match /tokens/{tokenId} {
      allow read, delete: if false;
      allow create, update: if isAuthorized(request.resource.data.uid);
    }
  }
}
