@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full;
  }

  a,
  button {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply flex min-h-screen justify-center bg-background p-4;
  }

  #__next {
    @apply flex w-full max-w-4xl flex-col gap-4 rounded-lg bg-main p-4;
  }
}

@layer components {
  .custom-button {
    @apply flex select-none items-center justify-center gap-2 rounded-lg py-2 px-3 font-medium transition duration-300 
           active:scale-90 active:duration-150 disabled:cursor-not-allowed;
  }

  .smooth-tab {
    @apply rounded-lg outline-none transition focus:ring-offset-background focus-visible:ring-2 
           focus-visible:ring-white focus-visible:ring-offset-2;
  }

  .smooth-hover {
    @apply hover:bg-bubble hover:text-primary;
  }

  .trim-alt {
    @apply overflow-hidden text-ellipsis break-all [display:-webkit-box] [-webkit-line-clamp:1] [-webkit-box-orient:vertical];
  }
}
